button{

        width:150px;
        height:100px;
        margin: 10px;
        cursor : pointer;
}
.main-content{

        margin-top:100px;
        display:flex;
        flex-direction:column;
        align-items: center;

}