<div *ngIf='outings'>
    <table class ='table'>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Distance</th>
                <th scope="col">Durée</th>
                <th scope="col">Avis</th>
            </tr>
        </thead>

        <tbody *ngFor="let key of getKeys(outings)" >
            <tr>
            <th scope="row">{{outings[key].id}}</th>
            <td scope="row">{{outings[key].date}}</td>
            <td scope="row">{{outings[key].nbKilometres}} kilometres</td>
            <td scope="row">{{outings[key].duree}} minutes</td>
            <td scope="row">{{outings[key].avis}}</td>
            </tr>

        </tbody>
    </table>
<div>

